@font-face {
  font-family: HP;
  src: url('./../fonts/HARRP___.TTF');
  }
*{
  box-sizing: border-box;
}
  .app{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app__header{
    background-image: url("./../images/HPGroup.jpeg");
    background-position: center;
    background-size: cover;
    width:100vw;
    text-align: center;

  
  }
  .app__title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: HP;
    color: red;
    @media all and (min-width: 768px){
      font-size: 40px;
    }
  }

