.character__pic{ 
  margin: 10px auto;
  width: 160px;
  height: 220px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  box-shadow:  0 5px 5px grey;
 
 }
 .character__info{
   background-color: orange;
   display:grid;
   grid-row-gap: 3px;

   margin: 5px 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 12px;
   text-align: left;
   }
 
  .character__name{
    text-align: center;
    height: 46px;
    font-size: 20px;
    margin: 0 10px;
  }
 
 .character__house{ 
   margin: 0;
 }

 .character__ancestry{
   margin: 0px;
 }
 